.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.banner-image {
    background-image: url("../assets/Hero-bg.png");
    height: 500px;
    width: 1320px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.button {
    color: black;
    font-size: semibold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.name {
    font: 28px;
    padding-left: 80px;
    padding-top: 20px;
}

.nav-button {
    padding-top: 20px;
    padding-right: 80px;
}

.background-image {
    width: 1340px;
    height: 700px;
}

.image {
    text-align: center;
}

.header-img {
    width: 180px;
    height: 180px;
    padding-top: 20px;

}


.banner-title {
    font: 48px;
    padding-left: 330px;
    padding-right: 200px;
    width: 650px;

}

.banner-description {
    font-size: small;
    padding-left: 300px;
    padding-right: 90px;
    width: 750px;
    color: #0D1321;


}

.banner-button {
    text-align: center;
    padding-top: 10px;
}

.button-design {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
}

.section-1,
.section-5 {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 50px;
}

.section-1-description,
.section-5-description {
    font-size: small;
    padding-left: 200px;
    padding-right: 60px;
    width: 750px;
    color: #0D1321;
}

.section-1-title,
.section-5-title {
    font: 32px;
}

.section-2,
.section-3,
.section-4 {
    display: flex;
}

.section-2-title,
.section-4-title {
    font: 24px;
    color: #0D1321;
    padding-left: 300px;
    width: 320px;
}

.section-2-description,
.section-4-description {
    font-size: small;
    color: #0D1321;
    padding-left: 300px;
    width: 400px;
}

.section-2-button,
.section-4-button {
    text-align: center;
    padding-top: 10px;
}

.button-3,
.button-4,
.button-5 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    font: 20px;
    color: #0D1321;
}

.section-2-img {
    padding-left: 120px;
    width: 260px;
    height: 220px;
}

.section-4-img {
    padding-left: 120px;
    width: 220px;
    height: 220px;
}

.section-3-img {
    padding-left: 280px;
    width: 230px;
    height: 230px;
}

.section-3-title {
    font: 24px;
    color: #0D1321;
    padding-right: 250px;
    width: 420px;
}

.section-3-description {
    font-size: small;
    color: #0D1321;
    padding-right: 300px;
    width: 350px;
}